html {
    width: 100vw;
    height: 100vh;
    /*background: linear-gradient(-10deg, hsl(42deg 100% 50%), hsl(282deg 100% 50%));
    background-repeat: no-repeat;*/
    background-color: #fbfbfb;
    font-size: 17px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Alternates', sans-serif;
}

h1 {
    font-size: 2rem;
    margin: 0.6rem 0;
}
h2 {
    font-size: 1.5rem;
    margin: 0.6rem auto;
}

.App {
    max-width: 1000px;
    box-sizing: border-box;
    margin: 5vh auto;
    padding: 20px;
}
.App__buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Header {
    width: 100%;
    border-bottom: 1px solid #444;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.Header>*:not(:last-child) {
    margin-right: 1rem;
}

.Button {
    padding: 0.5rem;
    background-color: transparent;
    border: 1px solid #005475;
    border-radius: 3px;
    color: #005475;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    box-shadow: 0 0 0 0px #005475;
    margin: 10px 0;
}
.Button:hover {
    /*background-color: #00b4fc;*/
    background-color: #005475;
    color: white;
}
.Button:focus {
    outline: 0;
    box-shadow: 0 0 0 2px #005475a2;
}
.Button--danger {
    border: 1px solid #751700;
    color: #751700;
}
.Button--danger:hover {
    background-color: #751700;
}
.Button--danger:focus {
    box-shadow: 0 0 0 2px #751700;
}

.Text-button {
    background-color: transparent;
    border: 0;
    border-radius: 5px;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    transition: box-shadow 0.2s;
    box-shadow: 0 0 0 0px #005475;
}
.Text-button:focus {
    outline: 0;
    box-shadow: 0 0 0 2px #005475a2;
}


.Article {
    margin-top: 1.5rem;
}
.Article__body {
    font-size: inherit;
    line-height: 2rem;
}

.Warning {
    margin: 10px 0;
    padding: 20px;
    border: 1px solid #e72300;
    border-radius: 4px;
    background-color:  #db220144;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}
.Warning__text {
    margin: 0;
    color: #5e0e00;
}

.Modal {
    display: none;
}
.Modal.open {
    display: block;
}
.Modal__bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 2s;
    opacity: 0;
}
.Modal.open>.Modal__bg {
    opacity: 1;
}
.Modal__body {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    
    width: 70vw;
    height: 70vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 14px rgb(0 0 0 / 0.5);
    
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    overflow: scroll;
}
.Modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Modal__content {
    line-height: 2rem;
    margin: 0;
}

@media only screen and (max-width: 320px) {
    html {
        font-size: 14px;
    }
    .App {
        margin: 5vh auto;
    }
}